*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* BODY */
.bkgImg{
    width: 100%;
    height: 100%;
     background-image: url(./image.png);
    background-size: cover;
    background-position: top;
    position: absolute;
    opacity: 0.9;
    top: 0px;
    z-index: -1;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: "Fontdiner Swanky", serif;
}
/* GAME */
.juego{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
    align-items: center;
    font-size:10vw;
    .info{
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .h2{
            font-size:38px;
            text-align: center;
        }
        .contador{
            font-size:38px;
        }
    }
    .game{
        width: 90vw;
        height: 70%;
        display: grid;
        grid-template-columns: repeat(4, minmax(60px, 1fr));
        justify-items: center;
        align-items: center;
        gap: 15px;
        .card{
            min-width: 20px;
            width: 80%;
            height: 130px;
            display: flex;
            cursor: pointer;
            transition: transform 1s ease;
            background-color: rgba(76, 10, 114, 0.829);
            border-radius: 10px;
            box-shadow: 0 0 .7rem .5rem rgb(0, 0, 0);
            user-select: none;
            align-items: center;
            justify-content: center;
        }
    }
}
.juego .info:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    text-shadow: 0 0  1rem  #bd53d8;
}

.result{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 3rem;
    text-align: center;
    padding: 20;
    .h3{
        text-shadow: 0 0  1rem  #bd53d8;
    }
    .h4{
        text-shadow: 0 0  1rem  #f79a10;
    }
}
.startAgain{
    padding: 2rem;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 300ms ease;
    animation: vibration 0.3s infinite alternate;
}
.startAgain:hover{
    background: linear-gradient(to top, rgba(4,4,4,1) 3%, rgb(139, 118, 145) 51%, rgba(9,9,9,1) 100%); 
    -webkit-background-clip: text; 
    color: transparent;
    
}
/* CARDS */

img{
    display: none;
    border-radius: 10px;
}
p{
    font-size: 3rem;
    font-style: none;
    display: inherit ;
    
}
.tapada>img{
    display: block;
    width: 100%;
    height: 100%;
}
.tapada>p{
    display: none;
}
/* ANIMATION */
.tapada{
    transform: rotateY(180deg);  
}
.inicio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    .h1 {
        text-align: center;
        font-size: 70px;
        background: linear-gradient(to top, rgba(4,4,4,1) 3%, rgb(139, 118, 145) 51%, rgba(9,9,9,1) 100%); 
        -webkit-background-clip: text; 
        color: transparent;
    }
    .start{
        padding: 2rem;
        font-family: inherit;
        font-size: 3rem;
        border: none;
        background: none;
        cursor: pointer;
        transition: transform 300ms ease;
        animation: vibration 0.4s infinite alternate;
    }
    .start:hover{
        background: linear-gradient(to top, rgba(4,4,4,1) 3%, rgb(139, 118, 145) 51%, rgba(9,9,9,1) 100%); 
        -webkit-background-clip: text; 
        color: transparent;
    }
}
.hidden{
    display: none;
}
/* MEDIA */
@media (width > 650px){
    p{
        font-size: 4rem;
    }
}
@media(width > 1000px){
    .juego{
        justify-content: center;
        .game{
            grid-template-columns: repeat(8, minmax(60px, 1fr));
            width: 1000px;
            height: 35vh;
        }
        .info{
            .h2, .contador{
                font-size: 60px;
            }
        }
    }
    .card{
        font-size: 2rem;
    }
}
@keyframes vibration {
   
    0% {
        transform: translateY(3px);
    
    }
    100% {
        transform: translateY(-3px);
    }
   
}
/* .card {
    perspective: 1000px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.tapada {
    transform: rotateY(180deg);
}
.card img, .card p {
    backface-visibility: hidden;
}
body{
    background: linear-gradient(to bottom, hsl(214, 47%, 73%), hsl(237, 49%, 85%)); 
    position: relative;
}
.dark_mode {
    display: flex;
    position: absolute;
    top: 70px;
    right: 10px;
    .p{
        font-size: 40px;
        position: absolute;
        right: 0;
        padding: 1rem;
        margin-right: 2rem;
        cursor: pointer;
    }
}
.colorLightMode{
    background: linear-gradient(to bottom, hsl(214, 47%, 73%), hsl(237, 49%, 85%))
}
.colorDarkMode{
    background: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%)); 
} */